   <div class ="container">
    <div class="row">
        <div class="col text-center">
            <br/>
            <img src="/img/pict1.png" alt="Anin" class="img-thumbnail rounded-circle" width="250">
            <h1 class="display-4">Adnin Atmadewati Ashrini</h1>
            <p class="lead">Software Engineering | Peserta Bootcamp</p>
        </div>
    </div>
   </div>