<div class="container mt-3">
    <div class="row">
        <div class="col-md-6"></div>
        <h2>Add New Contact</h2>

        <% if (typeof errors != 'undefined') { %>
          
          <div class="alert alert-secondary" role="alert">
            
              <ul>
                <% errors.forEach(error => { %>
                  <li><%=  error.msg%> </li>
                <% }) %>
              </ul>

            </div>
          </div>

        <% } %>

        <form method="post" action="/contact">
            <div class="mb-4">
              <label for="nama" class="form-label">Name</label>
              <input type="text" class="form-control" id="nama" placeholder="Your Name" name="nama" required/>
            </div>

            <div class="mb-4">
                <label for="mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="mobile" placeholder="Your Mobile" name="mobile" required/>
              </div>
            
              
            <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Your Email" name="email"/>
            </div> 
      
            <div class="text-end"><button type="submit" class="btn btn-secondary">Submit</button>
         
          </form>
    </div>
</div>